{
  "rules" :{
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "linebreak-style": 0,
    "no-console": 0,
    "extends": 0
  },
  "extends": "airbnb-base"
//   "settings": {
//     "import/resolver": {
//         "node": {
//             "paths": ["path.resolve(__dirname, "src")"]
//         }
//     }
// }
}